/.bundle/
/.yardoc
/.ruby-version
/Gemfile.lock
/gems
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/spec/test/
/tmp/
/test/
/lib/measures/test_results
/lib/measures/.rubocop*

# rspec failure tracking
.rspec_status

# Ignore IDE files
/.idea
*.rubocop-http*

# measures tests
lib/measures/.rubocop.yml
lib/measures/test_results/*
lib/measures/Occupancy_Simulator/measure.xml
lib/measures/Occupancy_Simulator/measure.xml
lib/measures/Occupancy_Simulator/resources/obCoSim.xml
lib/measures/Occupancy_Simulator/resources/obXML.xml
lib/measures/Occupancy_Simulator/resources/OccSimulator_out.csv
lib/measures/Occupancy_Simulator/resources/OccSimulator_out_by_Occupant.csv
lib/measures/Occupancy_Simulator/resources/OccSimulator_out_IDF.csv
lib/measures/Occupancy_Simulator/resources/OccSimulator_out_IDF.idf
lib/measures/Occupancy_Simulator/resources/OccSimulator_out_IDF.idf
lib/measures/Occupancy_Simulator/resources/OccSimulator_out_IDF.idf
lib/measures/Occupancy_Simulator/measure.xml
lib/files/OccSimulator_out_IDF.csv
lib/files/sch_light.csv
lib/files/sch_MELs.csv
